.dialog-wrapper {
    max-width: 300px;
    h3 {
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #5b54f0;
    }
    .price {
        font-weight: 800;
        font-size: 16px;
        color: #8c91ac;
        text-align: center;
        margin: 20px 0;
        padding-bottom: 20px;
        border-bottom: 1px solid #c4c4c4;

        & span {
            font-weight: bold;
            font-size: 24px;
            color: #373a6b;
        }
    }
    .buy-btn {
        background: #14cf74;
        border-radius: 4px;
        padding: 5px 0;
        width: 100%;
        color: white;
        border: none;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        margin-top: 20px;
        outline: none;
    }
}
