<div class="welcome-wrapper">
  <div class="welcome container">
    <h1 data-aos="fade-up"
        data-aos-offset="200"
        data-aos-delay="50"
        data-aos-duration="1000">
      Welcome to the Product <br>
      Subscription Application
    </h1>
    <div class="list-wrapper">
      <ul>
        <li><img src="/assets/img/check-line.svg" alt="check">Build own site</li>
        <li><img src="/assets/img/check-line.svg" alt="check">More Engagement</li>
      </ul>
      <ul>
        <li><img src="/assets/img/check-line.svg" alt="check">No code required</li>
        <li><img src="/assets/img/check-line.svg" alt="check">Easy to use</li>
      </ul>
    </div>
    <button mat-button data-aos="fade-up" class="get-demo"
            data-aos-offset="200"
            data-aos-delay="50"
            data-aos-duration="1500"
    >Get a Demo</button>
  </div>
</div>
