//Normal
@font-face {
    font-family: "Gilroy";
    src: url("./assets/fonts/Gilroy-Regular.woff") format("woff");
    src: url("./assets/fonts/Gilroy-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

//Medium
@font-face {
    font-family: "Gilroy";
    src: url("./assets/fonts/Gilroy-Medium.woff") format("woff");
    src: url("./assets/fonts/Gilroy-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

//Bold
@font-face {
    font-family: "Gilroy";
    src: url("./assets/fonts/Gilroy-Bold.woff") format("woff");
    src: url("./assets/fonts/Gilroy-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

//Black
@font-face {
    font-family: "Gilroy";
    src: url("./assets/fonts/Gilroy-Black.woff") format("woff");
    src: url("./assets/fonts/Gilroy-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}
.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: 1100px) {
        padding: 0 10px;
    }
}
* {
    box-sizing: border-box;
    font-family: Gilroy;
}
