<div class="header-wrapper">
    <div class="container header">
        <div [routerLink]="['/home']" class="logo-wrapper">
            <div class="logo"></div>
            <span>UserPlace</span>
        </div>
        <div class="navigation-wrapper">
            <ul>
                <li><a href="#">Features</a></li>
                <li><a [routerLink]="['/subscription']">Subscription Plans</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Docs</a></li>
            </ul>
        </div>
        <div class="mobile-navigation">
            <div (click)="toggleMobileMenu()" class="button-navigation">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
            <div [style.height]="displayMobileMenu ? '190px' : '0px'" class="navigation">
                <ul>
                    <li><a href="#">Features</a></li>
                    <li><a [routerLink]="['/subscription']">Subscription Plans</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Docs</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
