.powerfull-wrapper {
  margin: 130px auto;
  h2 {
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    color: #1c1f63;
  }
  .powerfull-cards-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 84px;
    @media screen and (max-width: 680px) {
      justify-content: center;
    }
    .powerfull-card {
      display: flex;
      align-items: flex-start;
      padding: 36px 30px;
      background: #ffffff;
      max-width: 330px;
      width: 100%;

      .card-img {
        min-width: 56px;
        min-height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 30px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .card-info {
        h4 {
          font-size: 20px;
          color: #5b54f0;
        }
        span {
          font-size: 14px;
        }
      }
    }
  }
}
