<div class="footer-wrapper">
  <div class="footer">
    <div class="logo-wrapper">
      <div class="logo"></div>
      <span>UserPlace</span>
    </div>
    <div class="navigation-wrapper">
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="#">Articles</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Support</a></li>
      </ul>
    </div>
    <div class="copyright">
      <span>© 1823 — 2016 Great Simple Studio</span>
    </div>
  </div>
</div>
