$blue-color: #5B54F0;
.footer-wrapper {
  background: #FBFAFF;
  padding: 15px 150px;
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;

    .logo-wrapper {
      display: flex;
      align-items: center;
      .logo {
        width: 24px;
        height: 24px;
        background: $blue-color;
        border-radius: 4px;
        transform: rotate(-45deg);
        margin-right: 30px;
      }
      span {
        font-weight: bold;
        font-size: 18px;
        color: $blue-color;
      }
    }
    .navigation-wrapper {
      ul {
        display: flex;
        @media screen and (max-width: 760px){
        }
        li {
          margin-left: 45px;
          @media screen and (max-width: 760px){
            margin: 0 30px;
          
          }
          @media screen and (max-width: 565px){
            margin: 0 10px;
          
          }
          @media screen and (max-width: 355px){
            margin: 0 5px;
          
          }
          a {
            font-weight: 500;
            font-size: 16px;
            text-decoration: none;
            color: $blue-color;
          }
        }
      }
    }
  }
  .copyright {
    color: #979797;
    font-size: 14px;
    line-height: 21px;
  }
}

@media (max-width: 1200px) {
  .footer-wrapper {
    padding: 15px 30px;
  }
}

@media (max-width: 992px) {
  .footer-wrapper {
    padding: 15px 5px;
    .footer {
      flex-direction: column;

    }
  }
  .logo-wrapper, .navigation-wrapper, .copyright {
    margin-bottom: 15px;
  }
}

@media (max-width: 576px) {
  .navigation-wrapper ul {
    flex-wrap: wrap;
  }
}
