.plans-wrapper {
    margin: 70px auto 130px;
    h2 {
        font-weight: 600;
        font-size: 32px;
        color: #1c1f63;
        text-align: center;
    }
    p {
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        color: #373a6b;
    }

    .tabs-controll-wrapper {
        margin: 60px 0;
        display: flex;
        justify-content: center;

        .switch-button {
          width: 300px;
          text-align: center;
          will-change: transform;
          z-index: 197 !important;
          cursor: pointer;
          transition: .3s ease all;
          border: 1px solid #bdc7cf;
          border-radius: 30px;
          &-case{
            background: none;
            width: 49%;
            height: 100%;
            color: white;
            position: relative;
            border: none;
            transition: .3s ease all;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 18px;
            padding: 11px 0;
            &:hover{
              color: rgba(255, 255, 255, 0.89);
              cursor: pointer;
            }
            &:focus {
              outline: none;
            }
          }
          .active-btn {
            color: #151515;
            border-radius: 30px;
            background-color: #5b54f0;
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 50%;
            height: 95%;
            z-index: -1;
            transition: .3s ease-out all;
            &-case{
              color: #151515;
            }
          }
          .inactive-case {
            color: #5b54f0;
          }
        }
    }
}


