<div class="subscribe-wrapper container">
  <h2 data-aos="fade-up">Want to receive updates?</h2>
  <p data-aos="fade-up">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut bibendum gravida mi aliquet.</p>
  <div data-aos="fade-up" class="subscribe-form">
    <div class="input-form">
      <img src="/assets/img/mail.svg" alt="mail">
      <input type="text" placeholder="Enter your email">
    </div>
    <button mat-button>Subscribe</button>
  </div>
</div>
