.subscribe-wrapper {
  padding: 130px 10px;
  background: #fbfaff;
  border-radius: 20px;
  margin: 130px auto;
  h2 {
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    color: #1c1f63;
  }
  p {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #373a6b;
    margin-top: 24px;
  }
  .subscribe-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 72px;
    flex-wrap: wrap;
    .input-form {
      position: relative;
      max-width: 420px;
      width: 100%;
      input {
        width: 100%;
        border: 1px solid #bdc7cf;
        border-radius: 4px;
        font-size: 16px;
        padding: 16px 17px;
        &::placeholder {
          color: #4f527d;
        }
      }
      img {
        width: 20px;
        height: 16px;
        object-fit: contain;
        display: block;
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
      }
    }

    button {
      margin-left: 30px;
      font-weight: bold;
      font-size: 18px;
      padding: 9px 80px;
      background: #14cf74;
      color: white;
      border: none;
      border-radius: 4px;

      @media screen and (max-width: 692px) {
        margin-top: 20px;
        margin-left: 0;
        max-width: 420px;
        width: 100%;
      }
    }
  }
}
