.products-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product-item {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(141, 153, 174, 0.1);
  border-radius: 8px;
  padding: 40px 30px;
  min-width: 200px;
  width: 23%;
  @media screen and (max-width: 560px) {
    width: 100%;
  }
  .feature-wrapper {
    flex-grow: 1;
  }
  & > span {
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #5b54f0;
    margin-bottom: 40px;
  }
  .price {
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    color: #8c91ac;
    padding-bottom: 30px;
    margin-bottom: 15px;
    border-bottom: 1px solid #c4c4c4;
    text-align: center;
    span {
      font-weight: bold;
      font-size: 24px;
      color: #373a6b;
    }
  }
  .subscribe {
    background: #14cf74;
    border-radius: 4px;
    padding: 5px 0;
    width: 100%;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;

    &:hover {
      
      background: #ffffff;
      border: 2px solid #5b54f0;
      color: #5b54f0;
      padding: 3px 0;
    }
  }
}
.products {
  display: flex;
  justify-content: space-around;
}
.feature {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  margin: 15px 0;
  color: #373a6b;

  img {
    width: 17px;
    height: 17px;
    object-fit: contain;
    margin-right: 10px;
  }
}
