.welcome-cards-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: -90px;
  flex-wrap: wrap;
  @media screen and (max-width: 680px) {
    justify-content: center;
  }

  .welcome-card {
    display: flex;
    align-items: flex-start;
    padding: 36px 30px;
    background: #ffffff;
    box-shadow: 0px 4px 24px rgba(141, 153, 174, 0.1);
    border-radius: 8px;
    max-width: 330px;
    width: 100%;
    margin: 10px 0;

    .card-img {
      min-width: 56px;
      min-height: 56px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 30px;

      img {
        width: 22px;
        height: 22px;
        object-fit: contain;
      }
      &.bg-blue {
        background: #02a7f6;
      }
      &.bg-pink {
        background: #fe6f9e;
      }
      &.bg-yellow {
        background: #fecf1b;
      }
    }
    .card-info {
      h4 {
        font-size: 20px;
        color: #5b54f0;
      }
      span {
        font-size: 14px;
      }
    }
  }
}
